In [1]:
data=pd.read_csv('cricket.csv')

NameError: name 'pd' is not defined

In [31]:
import numpy as np
import pandas as pd
import sys

In [3]:
data=pd.read_csv('cricket.csv')

In [4]:
data

   sr.no           name  matches  runs  catches  wickets  stumpings
0      1    Anil Dalpat      122  6755       56       12          0
1      2   Rohan Kanhay      144  1256       76      178          0
2      3  Avdhoot Dighe      265  8954      120        0          0
3      4       Bahubali       10   756        6       11          3
4      5      Leeladhar      234  2866      105      376          0
5      6      Pradyumna      177  5877       47      122          0
6      7     Dinesh Roy      211  8537      112       16          0
7      8     Parmeshwar      245  9466       53        0          0
8      9    Ali Durrani       55  2756       12       26          0
9     10   Litesh Singh       89  1099       46       49          0

In [5]:
data[["name","runs"]]

            name  runs
0    Anil Dalpat  6755
1   Rohan Kanhay  1256
2  Avdhoot Dighe  8954
3       Bahubali   756
4      Leeladhar  2866
5      Pradyumna  5877
6     Dinesh Roy  8537
7     Parmeshwar  9466
8    Ali Durrani  2756
9   Litesh Singh  1099

In [6]:
data["wickets"].sum()

790

In [7]:
data["catches"].mean()

63.3

In [24]:
for i in range (len(data["stumpings"])):
    if data["stumpings"][i]>0:
        print(data["name"][i])

Bahubali

In [25]:
data

   sr.no           name  matches  runs  catches  wickets  stumpings
0      1    Anil Dalpat      122  6755       56       12          0
1      2   Rohan Kanhay      144  1256       76      178          0
2      3  Avdhoot Dighe      265  8954      120        0          0
3      4       Bahubali       10   756        6       11          3
4      5      Leeladhar      234  2866      105      376          0
5      6      Pradyumna      177  5877       47      122          0
6      7     Dinesh Roy      211  8537      112       16          0
7      8     Parmeshwar      245  9466       53        0          0
8      9    Ali Durrani       55  2756       12       26          0
9     10   Litesh Singh       89  1099       46       49          0

In [26]:
temp = 0
index = 0
for i in range(len(data["wickets"])):
    if data["wickets"][i]>0:
        if temp < data["matches"][i]:
            temp = data["matches"][i]
            index = i
            
print(data["name"][index])

Leeladhar

In [27]:
data["wickets"].mean()

79.0

In [28]:
data

   sr.no           name  matches  runs  catches  wickets  stumpings
0      1    Anil Dalpat      122  6755       56       12          0
1      2   Rohan Kanhay      144  1256       76      178          0
2      3  Avdhoot Dighe      265  8954      120        0          0
3      4       Bahubali       10   756        6       11          3
4      5      Leeladhar      234  2866      105      376          0
5      6      Pradyumna      177  5877       47      122          0
6      7     Dinesh Roy      211  8537      112       16          0
7      8     Parmeshwar      245  9466       53        0          0
8      9    Ali Durrani       55  2756       12       26          0
9     10   Litesh Singh       89  1099       46       49          0

In [32]:
temp = sys.maxsize
index = 0
for i in range(len(data["wickets"])):
    if temp > data["wickets"][i]:
            temp = data["wickets"][i]
            index = i
            
print(data["name"][index])

Avdhoot Dighe

In [47]:
for i in range(len(data["matches"])):
    if data["catches"][i]/data["matches"][i] > 0.5:
            print("catches per match ratio: ", round(data["catches"][i]/data["matches"][i],2))
            print(data.loc[i])
            print("\n")

catches per match ratio:  0.53
sr.no                   2
name         Rohan Kanhay
matches               144
runs                 1256
catches                76
wickets               178
stumpings               0
Name: 1, dtype: object


catches per match ratio:  0.6
sr.no               4
name         Bahubali
matches            10
runs              756
catches             6
wickets            11
stumpings           3
Name: 3, dtype: object


catches per match ratio:  0.53
sr.no                 7
name         Dinesh Roy
matches             211
runs               8537
catches             112
wickets              16
stumpings             0
Name: 6, dtype: object


catches per match ratio:  0.52
sr.no                  10
name         Litesh Singh
matches                89
runs                 1099
catches                46
wickets                49
stumpings               0
Name: 9, dtype: object

In [56]:
data['Catches_per_match'] = data['catches'] / data['matches']
filtered_df = data[data['Catches_per_match'] > 0.5]
filtered_df.to_csv("q8.csv", index=False)
print("Filtered data saved")

   sr.no          name  matches  runs  catches  wickets  stumpings  \
1      2  Rohan Kanhay      144  1256       76      178          0
3      4      Bahubali       10   756        6       11          3
6      7    Dinesh Roy      211  8537      112       16          0
9     10  Litesh Singh       89  1099       46       49          0

   Catches_per_match
1           0.527778
3           0.600000
6           0.530806
9           0.516854

In [57]:
data

,sr.no,name,matches,runs,catches,wickets,stumpings,Catches_per_match
0,1,Anil Dalpat,122,6755,56,12,0,0.459016
1,2,Rohan Kanhay,144,1256,76,178,0,0.527778
2,3,Avdhoot Dighe,265,8954,120,0,0,0.452830
3,4,Bahubali,10,756,6,11,3,0.600000
4,5,Leeladhar,234,2866,105,376,0,0.448718
5,6,Pradyumna,177,5877,47,122,0,0.265537
6,7,Dinesh Roy,211,8537,112,16,0,0.530806
7,8,Parmeshwar,245,9466,53,0,0,0.216327
8,9,Ali Durrani,55,2756,12,26,0,0.218182
9,10,Litesh Singh,89,1099,46,49,0,0.516854

In [61]:
sorted_data = data.sort_values(by="runs")
print(sorted_data)

   sr.no           name  matches  runs  catches  wickets  stumpings  \
3      4       Bahubali       10   756        6       11          3
9     10   Litesh Singh       89  1099       46       49          0
1      2   Rohan Kanhay      144  1256       76      178          0
8      9    Ali Durrani       55  2756       12       26          0
4      5      Leeladhar      234  2866      105      376          0
5      6      Pradyumna      177  5877       47      122          0
0      1    Anil Dalpat      122  6755       56       12          0
6      7     Dinesh Roy      211  8537      112       16          0
2      3  Avdhoot Dighe      265  8954      120        0          0
7      8     Parmeshwar      245  9466       53        0          0

   Catches_per_match
3           0.600000
9           0.516854
1           0.527778
8           0.218182
4           0.448718
5           0.265537
0           0.459016
6           0.530806
2           0.452830
7           0.216327

In [62]:
data

,sr.no,name,matches,runs,catches,wickets,stumpings,Catches_per_match
0,1,Anil Dalpat,122,6755,56,12,0,0.459016
1,2,Rohan Kanhay,144,1256,76,178,0,0.527778
2,3,Avdhoot Dighe,265,8954,120,0,0,0.452830
3,4,Bahubali,10,756,6,11,3,0.600000
4,5,Leeladhar,234,2866,105,376,0,0.448718
5,6,Pradyumna,177,5877,47,122,0,0.265537
6,7,Dinesh Roy,211,8537,112,16,0,0.530806
7,8,Parmeshwar,245,9466,53,0,0,0.216327
8,9,Ali Durrani,55,2756,12,26,0,0.218182
9,10,Litesh Singh,89,1099,46,49,0,0.516854

In [63]:
f = data[data['wickets'] >data['matches'] ]
print(f)

   sr.no          name  matches  runs  catches  wickets  stumpings  \
1      2  Rohan Kanhay      144  1256       76      178          0
3      4      Bahubali       10   756        6       11          3
4      5     Leeladhar      234  2866      105      376          0

   Catches_per_match
1           0.527778
3           0.600000
4           0.448718